<script src="node_modules/chart.js/src/chart.js"></script>

<div>
    <h3>Grafico de totales de incidentes</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="">
    <canvas baseChart width="1000" height="500"
          [datasets]="lineChartDataTotales"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>


<div>
    <h3>Grafico de totales de incidentes por equipo</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="">
    <canvas baseChart width="1000" height="500"
          [datasets]="initGraphServiceDataTotalesPorEquipo"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>


<div>
    <h3>Grafico de incidentesde Release 1.5 por equipo</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="">
    <canvas baseChart width="1000" height="500"
          [datasets]="initGraphServiceDataR15PorEquipo"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>


<div *ngFor="let table of tables"> 
<h3>{{table.title}} </h3>
<h3>Total: {{table.total}} </h3>
<h3>Date: {{convertToDate(table.date)}} </h3>


<p-table [value]="table.teamColumns" id="report">
    <ng-template pTemplate="header">
        <tr>
            <th>Team</th>
            <th>New</th>
            <th>Open</th>
            <th>Reopen</th>
            <th>Pending</th>
            <th>Fixed</th>
            <th>Done</th>
            <th>Rejected</th>
            <th>Total</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team>
        <tr>
            <td>{{team.title}}</td>
            <td>{{team.state.New}}</td>
            <td>{{team.state.Open}}</td> 
            <td>{{team.state.Reopen}}</td>
            <td>{{team.state.Pending}}</td>
            <td>{{team.state.Fixed}}</td>
            <td>{{team.state.Done}}</td>
            <td>{{team.state.Rejected}}</td>
            <td>{{team.state.Total}}</td>
        </tr>
    </ng-template>
</p-table>
<br>
</div>




